@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans+Condensed&family=Lexend&family=Open+Sans&family=Roboto&family=Work+Sans&display=swap");

/* 
font-family: "Lexend", sans-serif;
font-family: "Open Sans", sans-serif;
font-family: "Roboto", sans-serif;
font-family: "Work Sans", sans-serif; 
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* || header-styles || */
.header {
  height: 100%;
  padding-bottom: 2rem;
  font-family: "Lexend", sans-serif;
  background-color: #ff8f0e15;
}
.header-nav {
  display: flex;
  margin: 0 10vw;
  padding: 2rem 0;
  justify-content: space-between;
}
.header-nav span {
  font-size: 45px;
  font-weight: 600;
}
.header-nav ul {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.header-nav ul li {
  list-style: none;
  font-size: 1.2rem;
  text-decoration: none;
}
.header-nav ul li a {
  color: black;
  text-decoration: none;
}

/* || header-container || */
.header-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 22px;
  margin: 2rem 0;
}
.header-container h2 {
  font-size: 64px;
  font-weight: 800;
}
.header-container p {
  font-size: 18px;
  opacity: 0.9;
  width: 50%;
}
.header-container img {
  width: 80%;
  box-shadow: 0 0 20px #00000039;
}
.btn-primary {
  background-color: #ff900e;
  border-radius: 5px;
  border: none;
  color: #fff;
  margin: 5px;
  font-family: "Lexend", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  height: 50px;
  width: 180px;
  transition: box-shadow 111ms ease-in-out;
}
.btn-primary:hover {
  box-shadow: 0 0 20px lightgrey;
}

/* || features-styles || */
.main-features {
  width: 75vw;
  display: grid;
  margin: 5rem auto;
  align-items: center;
  font-family: "Lexend", sans-serif;
  grid-template-columns: repeat(2, 1fr);
}
.main-features-album {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  gap: 1rem;
}
.main-features-album img {
  border-radius: 0.5rem;
  width: 100%;
  transition: box-shadow 1s ease-in-out;
}
.main-features-album img:hover {
  box-shadow: 0 0 20px #00000036;
}
.main-features-details {
  display: grid;
  gap: 1rem;
}
.main-features-details h2 {
  font-size: 3rem;
}
.main-features-details span {
  color: #ff900e;
}
.main-features-details p {
  font-size: 20px;
  opacity: 0.9;
  line-height: 2rem;
}

/* || experience-styles || */
.main-experience {
  display: flex;
  width: 75%;
  font-family: "Lexend", sans-serif;
  gap: 2rem;
  margin: 5rem auto;
}
.main-experience-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}
.main-experience-details > h3 {
  font-size: 2.5rem;
  border-left: 5px solid #ff900e;
  padding-left: 1.5rem;
}
.main-experience-details > p {
  line-height: 1.5rem;
  width: 80%;
}
.main-experience-architect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: scale(0.9);
}
.main-experience-architect img {
  margin-bottom: -7rem;
}
.main-exp-float {
  height: 111px;
  width: 222px;
  border-radius: 10px;
  font-size: 2.3rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  line-height: 1.9rem;
  font-weight: 600;
  color: white;
  position: relative;
  top: 44px;
  left: -66px;
  justify-content: center;
  background-color: #ff900e;
}
.main-exp-float p > span {
  font-size: 1.3rem;
}
.main-exp-box {
  height: auto;
  width: 555px;
  padding: 1.5rem;
  border-radius: 10px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.088);
}
.main-exp-box h3 {
  font-size: 20px;
  font-weight: 600;
}
.main-exp-box p {
  opacity: 0.9;
  line-height: 1.5rem;
}

/* || @media for Mobile-Device || */
@media screen and (max-width: 688px) {
  /* || header-styles (@media) || */
  .header-nav {
    flex-direction: column;
    text-align: center;
    gap: 10px;
    align-items: center;
  }
  .header-nav ul {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(202, 202, 202);
  }
  .header-nav span {
    font-size: 2.2rem;
  }
  .header-nav ul li {
    font-size: 1rem;
  }
  .header-container {
    margin: 1rem 0;
  }
  .header-container h2 {
    font-size: 2rem;
  }
  .header-container p {
    width: 80%;
  }
  .btn-primary {
    font-size: 1.1rem;
    font-weight: 600;
    height: 2.7rem;
    width: 10rem;
  }

  /* || features-styles (@media) || */
  .main-features {
    width: 80vw;
    display: flex;
    margin: 3rem auto;
    flex-direction: column;
    gap: 2rem;
  }
  .main-features-details h2 {
    font-size: 2rem;
  }
  .main-features-details p {
    font-size: 1rem;
    line-height: normal;
  }

  /* ||experience-styles (@media) || */
  .main-experience {
    flex-direction: column-reverse;
    width: 80%;
  }
  .main-experience-details > p {
    width: 100%;
  }
  .main-exp-box {
    height: auto;
    width: 100%;
  }
  .main-exp-float {
    left: -66px;
    margin-bottom: 2rem;
    transform: scale(0.75);
  }
}
