@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans+Condensed&family=Lexend&family=Open+Sans&family=Roboto&family=Work+Sans&display=swap");

* {
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  margin: 0;
  padding: 0;
}

/* || header-styles || */
.header {
  height: 100%;
  padding-bottom: 2rem;
  background-color: #ff8f0e15;
}
.header-nav {
  display: flex;
  margin: 0 10vw;
  padding: 2rem 0;
  justify-content: space-between;
}
.header-nav span {
  font-size: 45px;
  font-weight: 600;
}
.header-nav ul {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.header-nav ul li {
  list-style: none;
  font-size: 1.2rem;
  text-decoration: none;
}
.header-nav ul li a {
  color: black;
  text-decoration: none;
}

/* || header-container || */
.header-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 22px;
  margin: 2rem 0;
}
.header-container h2 {
  font-size: 64px;
  font-weight: 800;
}
.header-container p {
  font-size: 18px;
  opacity: 0.9;
  width: 50%;
}
.header-container img {
  width: 80%;
  box-shadow: 0 0 20px #00000039;
}
.btn-primary {
  background-color: #ff900e;
  border-radius: 5px;
  border: none;
  color: #fff;
  margin: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  height: 50px;
  width: 180px;
  transition: box-shadow 111ms ease-in-out;
}
.btn-primary:hover {
  box-shadow: 0 0 20px lightgrey;
}

/* || features-styles || */
.main-features {
  width: 75vw;
  display: grid;
  margin: 5rem auto;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}
.main-features-album {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  gap: 1rem;
}
.main-features-album img {
  border-radius: 0.5rem;
  width: 100%;
  transition: box-shadow 1s ease-in-out;
}
.main-features-album img:hover {
  box-shadow: 0 0 20px #00000036;
}
.main-features-details {
  display: grid;
  gap: 1rem;
}
.main-features-details h2 {
  font-size: 3rem;
}
.main-features-details span {
  color: #ff900e;
}
.main-features-details p {
  font-size: 20px;
  opacity: 0.9;
  line-height: 2rem;
}

/* || experience-styles || */
.main-experience {
  display: flex;
  width: 75%;
  gap: 2rem;
  margin: 5rem auto;
}
.main-experience-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}
.main-experience-details > h3 {
  font-size: 3rem;
  border-left: 5px solid #ff900e;
  padding-left: 1.5rem;
}
.main-experience-details > p {
  line-height: 1.5rem;
  font-size: 1.1rem;
  opacity: 0.8;
  width: 100%;
}
.main-experience-architect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: scale(0.9);
}
.main-experience-architect img {
  margin-bottom: -7rem;
}
.main-exp-float {
  height: 111px;
  width: 222px;
  border-radius: 10px;
  font-size: 2.3rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  line-height: 1.9rem;
  font-weight: 600;
  color: white;
  position: relative;
  top: 44px;
  left: -66px;
  justify-content: center;
  background-color: #ff900e;
}
.main-exp-float p > span {
  font-size: 1.3rem;
}
.main-exp-container {
  height: auto;
  width: 555px;
  padding: 1.5rem;
  border-radius: 10px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.088);
}
.main-exp-container h3 {
  font-size: 20px;
  font-weight: 600;
}
.main-exp-container p {
  opacity: 0.9;
  line-height: 1.5rem;
}

/* || facts-styles || */
.main-facts {
  width: 75%;
  margin: 2rem auto;
}
.main-facts > h3 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.main-facts p {
  font-size: 20px;
  line-height: 1.5rem;
  opacity: 0.9;
}
.main-fact-area {
  display: flex;
  margin: 4rem auto;
  justify-content: space-evenly;
  gap: 1rem;
}
.main-fact-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 2rem;
  font-weight: bold;
  align-items: center;
  text-align: center;
  width: 200px;
  border: 1px solid #ff900e;
  border-radius: 5px;
  padding: 1.5rem 2rem;
  transition: transform 555ms ease-in-out;
}

.main-fact-container:hover {
  transform: rotateZ(20deg) scale(1.1);
  box-shadow: 0 0 20px #d3d3d378;
}

.main-fact-container p {
  font-size: 1.2rem;
}

/* || sponsors-styles || */
.main-sponsors {
  width: 75%;
  margin: 7rem auto;
  text-align: center;
}
.main-sponsors h3 {
  font-size: 3rem;
}
.main-sponsors p {
  font-size: 1.2rem;
  opacity: 0.8;
  line-height: 1.5rem;
  margin: 2rem 0 3rem;
}
.main-sponsors-container {
  display: flex;
  filter: grayscale(100%);
  justify-content: space-around;
}

/* || main-newsletter-styles || */
.main-newsletter {
  height: 333px;
  width: 75%;
  display: flex;
  align-items: center;
  color: white;
  margin: 5rem auto;
  border-radius: 15px;
  justify-content: space-around;
  box-shadow: 0 0 20px lightgrey;
  background: rgb(3, 2, 17);
  background: linear-gradient(
    90deg,
    rgba(3, 2, 17, 1) 0%,
    rgba(75, 81, 88, 1) 100%,
    rgba(225, 225, 238, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}
.main-newsletter-details h3 {
  font-size: 2.5rem;
}
.main-newsletter-input input {
  height: 3rem;
  border-radius: 5px;
  border: none;
  font-size: 1.1rem;
  padding-left: 1rem;
  width: 18rem;
}
.main-newsletter-input input:focus {
  outline: none;
}
.main-newsletter-input p {
  margin-top: 10px;
}
.btn-subs {
  padding: 0.8rem 1.5rem;
  font-size: large;
  font-weight: bold;
  color: white;
  background-color: tomato;
  border: none;
  border-radius: 5px;
}
.main-newsletter-input p a {
  color: lightcyan;
  text-decoration: none;
}

/* || footer-styles || */
.footer {
  align-items: center;
  text-align: center;
  margin: 2rem auto;
  border-radius: 5px;
  width: 50%;
  padding: 1rem 0.5rem;
  background-color: #fff4e7;
}

/* || @media for Mobile-Device || */
@media screen and (max-width: 688px) {
  /* || header-styles (@media) || */
  .header-nav {
    flex-direction: column;
    text-align: center;
    gap: 10px;
    align-items: center;
  }
  .header-nav span {
    font-size: 2.2rem;
  }
  .header-nav ul li {
    font-size: 1rem;
  }
  .header-container {
    margin: 1rem 0;
  }
  .header-container h2 {
    font-size: 2rem;
  }
  .header-container p {
    width: 80%;
  }
  .btn-primary {
    font-size: 1.1rem;
    font-weight: 600;
    height: 2.7rem;
    width: 10rem;
  }

  /* || features-styles (@media) || */
  .main-features {
    width: 80vw;
    display: flex;
    margin: 3rem auto;
    flex-direction: column;
    gap: 2rem;
  }

  .main-features-album {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
    gap: 1rem;
  }
  .main-features-details h2 {
    font-size: 2rem;
  }
  .main-features-details p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  /* ||experience-styles (@media) || */
  .main-experience {
    flex-direction: column-reverse;
    width: 80%;
  }
  .main-experience-details > h3 {
    font-size: 2rem;
  }
  .main-experience-details > p {
    width: 100%;
  }
  .main-exp-container {
    height: auto;
    width: 100%;
  }

  .main-exp-float {
    left: -66px;
    margin-bottom: 3rem;
    transform: scale(0.75);
  }

  /* || facts-styles (@media) || */
  .main-facts > h3 {
    font-size: 2rem;
  }
  .main-facts p {
    width: 100%;
    font-size: 18px;
  }
  .main-fact-area {
    display: grid;
    transform: scale(0.8);
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
  }

  /* || sponsors-styles (@media) || */
  .main-sponsors-container {
    display: grid;
    gap: 1.5rem;
  }

  /* || main-newsletter-styles (@media) || */
  .main-newsletter {
    width: 80%;
    height: auto;
    padding: 2rem 1rem;
    flex-direction: column;
  }
  .main-newsletter-details h3 {
    text-align: center;
    font-size: 4vw;
  }
  .main-newsletter-input {
    text-align: center;
    transform: scale(0.8);
  }
  .main-newsletter-input input {
    margin: 10px 0;
  }

  /* || footer-styles (@media) || */
  .footer {
    text-align: center;
    line-height: 1.5rem;
    width: 80%;
  }
}
